<html>
<body>
  {{#each crates}}
    {{package.name}}<br/>
    <a href="{{#if package.repository}} {{package.repository}} {{else}} https://crates.io/crates/{{package.name}} {{/if}}">
      {{#if package.repository}} {{package.repository}} {{else}} https://crates.io/crates/{{package.name}} {{/if}}
    </a><br/>
    Licence: {{license}}<br/>
    {{copyright}}<br/>
    <br/><br/>
  {{/each}}
</body>

</html>
